body {
  background-color: #9ed9e3;
}

form {
  background-color: #59a17e;
}

main {
  height: 100%;
}

.cuadroCentral {
  width: 400px;
}

.marginBot10 {
  margin-bottom: 10px;
}

.inputTextArea {
  height: 45px;
  border-radius: 10px;
  border: none;
}

.white {
  color: white;
}

.borderMain {
  border-radius: 10px;
  border: none;
}
